<script>
</script>

<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 48 48" {...$$props}>
	<circle cx="15.64" cy="13.46" r=".75" fill="currentColor" />
	<path
		fill="none"
		stroke="currentColor"
		stroke-linecap="round"
		stroke-linejoin="round"
		d="M15.64 16.93v14.98m17.47 0V22.3a5.83 5.83 0 0 0-5.82-5.82a5.83 5.83 0 0 0-5.83 5.82v9.61m0-9.61v-5.37"
	/>
	<path
		fill="none"
		stroke="currentColor"
		stroke-linecap="round"
		stroke-linejoin="round"
		d="M40.5 5.5h-33a2 2 0 0 0-2 2v33a2 2 0 0 0 2 2h33a2 2 0 0 0 2-2v-33a2 2 0 0 0-2-2"
	/>
</svg>

<style>
	.icon {
		position: relative;
		display: inline-block;
	}
	svg {
		fill: #a7393d;
		transition: fill 0.3s;
		cursor: pointer;
	}

	svg:hover {
		fill: #ffffff;
	}
</style>
