/* Based on Josh W. Comeau's custom CSS reset: https://www.joshwcomeau.com/css/custom-css-reset/ */

:root {
	--greyishBlue: #5c73c4;
	--darkBlue: #1d4ed8;
	--red: #a7393d;
	--darkRed: #7c2d32;
	--primary10: #0d0e0b;
	--primary20: #2b2b2b;
	--primary30: #696969;
	--primary40: #848484;
	--primary50: #a0a0a0;
	--primary60: #b7b8b6;
	--primary70: #c9cac8;
	--primary80: #eeeeee;
	--primary90: #fcfcfc;
	--primary100: #ffffff;
}

/* Use a more-intuitive box-sizing model.*/
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
* {
	margin: 0;
	font-family: 'Cutive Mono', monospace;
}

/*
Add accessible line-height
Improve text rendering
*/
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
	background-color: aliceblue;
	// color: #333;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* Remove built-in form typography styles */
input,
button,
textarea,
select {
	font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* Create a root stacking context */
#root {
	isolation: isolate;
}

/* Remove default button styles */
button {
	background: none;
	border: none;
	padding: 0;
}

/* Remove default list styles */
ul,
ol {
	list-style: none;
}

/* Remove default table styles */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Remove default border on focused elements */
*:focus {
	outline: none;
}

/* Remove default border on active elements */
*:active {
	outline: none;
}

main {
	padding: 1rem;
	margin: 2rem auto;
	max-width: 40rem;
}
