<script>
	import * as eases from 'svelte/easing';

	/**
	 * @param {Element} node
	 * @param {{ duration?: number; delay?: number; easing?: any; }} params
	 */

	function colorSwipe(node, params) {
		const { color } = window.getComputedStyle(node);
		const config = {
			delay: params?.delay ?? 0,
			duration: params?.duration ?? 1000,
			easing: params?.easing ?? eases.sineIn,
			css: (/** @type {number} */ progress) => {
				if (progress <= 0.5) {
					const percentage = progress * 200;
					return `background: linear-gradient(to right, ${color} 0, ${percentage}%, transparent ${percentage}%); color: transparent;`;
				} else {
					const percentage = (progress - 0.5) * 200;
					return `background: linear-gradient(to right, transparent 0, ${percentage}%, ${color} ${percentage}%);`;
				}
			}
		};
		return config;
	}

	let show = false;
</script>

<main class="main-demo">
	<label><input bind:checked={show} type="checkbox" /> Show examples</label>
	<div class="demo-bars">
		{#if show}
			<p class="one" transition:colorSwipe|global={{ delay: 10, duration: 1000 }}>
				<strong>ONE:</strong> sineIn
			</p>
			<p
				class="two"
				transition:colorSwipe|global={{ delay: 30, duration: 2000, easing: eases.backIn }}
			>
				<strong>TWO:</strong> backIn
			</p>
			<p
				class="three"
				transition:colorSwipe|global={{ delay: 60, duration: 3000, easing: eases.bounceIn }}
			>
				<strong>THREE:</strong> bounceIn
			</p>
			<p
				class="four"
				transition:colorSwipe|global={{ delay: 90, duration: 4000, easing: eases.cubicIn }}
			>
				<strong>FOUR:</strong> cubicIn
			</p>
			<p
				class="five"
				transition:colorSwipe|global={{ delay: 120, duration: 5000, easing: eases.quadInOut }}
			>
				<strong>FIVE:</strong> quadInOut
			</p>
		{/if}
	</div>
</main>

<style>
	.main-demo {
		min-height: 300px;
	}
	.demo-bars {
		padding-top: 36px;
	}
	.one {
		color: var(--primary10);
		min-height: 40px;
	}
	.two {
		color: var(--primary20);
		min-height: 40px;
	}
	.three {
		color: var(--primary30);
		min-height: 40px;
	}
	.four {
		color: var(--primary40);
		min-height: 40px;
	}
	.five {
		color: var(--primary50);
		min-height: 40px;
	}
</style>
