<script>
	import GitHubIcon from '../icons/GitHubIcon.svelte';
	import InstagramIcon from '../icons/InstagramIcon.svelte';
	import LinkedInIcon from '$lib/icons/LinkedInIcon.svelte';
</script>

<div class="footer-container">
	<p>
		<a href="https://www.bretteastman.dev" target="_blank">Brett Austin Eastman</a>
	</p>
	<div class="icons">
		<a href="https://github.com/BrettEastman" target="_blank">
			<span>
				<GitHubIcon />
			</span>
		</a>
		<a href="https://www.linkedin.com/in/brett-austin-eastman/" target="_blank">
			<span>
				<LinkedInIcon />
			</span>
		</a>
		<a href="https://www.instagram.com/brettaustineastman/" target="_blank">
			<span>
				<InstagramIcon />
			</span>
		</a>
	</div>
</div>

<style>
	.footer-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 4rem;
	}
	.icons {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: start;
		gap: 1rem;
		margin-top: 1rem;
		margin-bottom: 4rem;
	}
</style>
