<header>
	<a href="/">Home</a>

	<nav>
		<ul>
			<li>
				<a href="/about">About</a>
			</li>
			<li>
				<a href="/blog">Blog</a>
			</li>
			<li>
				<a href="/contact">Contact</a>
			</li>
		</ul>
	</nav>
</header>

<style>
	header {
		padding: 1rem;
		background: var(--greyishBlue);
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	ul {
		list-style-type: none;
		display: flex;
		gap: 1rem;
	}

	a {
		text-decoration: none;
		color: var(--primary90);
	}
</style>
